.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pomodoroClock{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid  black;
  height: 40%;
  width: 35%;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
}

.counterDiv{
  display: flex;
  flex-direction: row;
  border: 3px solid red;
  justify-content:center;
  height: 20%;
}

.breakDiv{
  border: 3px solid blue;
  margin-right: 40px;
  width: 50%;
}

.breakController{
  border: 3px solid black;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.sessionDiv{
  border: 3px solid yellow;
  width: 50%;
}

.sessionController{
  border: 3px solid black;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.fullClock{
  display: flex;
  flex-direction: column;
  height: 40%;
  border: 3px solid red;
}

.clock{
  border: 3px solid orange;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commands{
  border: 3px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
}

#reset{
  margin-left: 5px;
}
